@import url('../../node_modules/bootstrap/scss/_functions.scss');
@import url('../../node_modules/bootstrap/scss/_variables');



@import url('../../node_modules/bootstrap/scss/bootstrap.scss');
@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');









@import url(./_allmodule2.scss);