
//  section2

.section-2
    display: flex
    justify-content: center
    align-items: center
    column-gap: 30px
    padding-inline: 60px
    width: 100%
    background-color: #fffaf3
    height: 90vh

.btn
    position: absolute
    top: 69vw
    left: 345px

.left-section-video div .btn
    border-radius: 50%
    background-color: #f08c0a
    border: 1px solid #f08c0a

.left-section-video div .btn:active
    background-color: #f08c0a
    border: 1px solid #f08c0a

.right-section-infu
    width: 50%

.right-section-infu h3
    font-family: "Pacifico", cursive

.check-para
    display: flex
    column-gap: 10px

.check-para i
    color: #ffb03b

// section3

.section-3
    flex-direction: column
    display: flex
    justify-content: center
    align-content: center
    height: 60vh
    row-gap: 30px

.top-section-3
    flex-direction: column
    display: flex
    align-items: center

.top-section-3 h3
    font-family: "Pacifico", cursive

.top-section-3 span
    color: #ffb03b

.paragrapgh
    padding: 10px
    padding-inline: 20px
    border-radius: 20px
    background-color: #fffaf3
    color: #ffb03b

.buttom-section-3
    display: flex
    align-items: center
    justify-content: center
    column-gap: 20px

.buttom-section-3 div
    width: 25vw
    height: 250px
    background-color: #f9f9f9
    flex-direction: column
    display: flex
    justify-content: center
    padding-inline: 30px
    position: relative

.buttom-section-3 div h3
    font-family: "Pacifico", cursive

.buttom-section-3 div p
    color: #8d9fc5

.buttom-section-3  div:hover
    color: #ffff
    background-color: #ffb03b
    bottom: 10px

.buttom-section-3  div:hover h1
    color: #ffff

.buttom-section-3  div h1
    color: #ffb03b

.row
    width: 100%
.col-8
    width: 50.666667%

// section 6

.section-6
    flex-direction: column
    display: flex
    row-gap: 50px

.buttom-section-4
    width: 100%
    display: flex
    justify-content: center
    align-content: center
    // background-color: #cf1313

    padding-inline: 100px

.left-buttom-section-4
    width: 30%

.left-buttom-section-4 img
    width: 100%
    min-height: 500px

.right-buttom-section-4
    width: 80%
    background-color: #f9f9f9
    flex-direction: column
    display: flex
    justify-content: center
    row-gap: 20px
    padding-inline: 60px

.right-buttom-section-4 div
    display: flex

    column-gap: 10px

.right-buttom-section-4 div  input
    width: 35%

.right-buttom-section-4 textarea
    height: 30vh

.button-section4
    display: flex
    justify-content: center

.button-section4 button
    padding: 10px
    padding-inline: 50px
    border-radius: 5px
    background-color: #ffb03b
    color: #ffff
    border: none

// section-7

.section-7
    flex-direction: column
    display: flex
    justify-content: center
    align-content: center
    height: 125vh
    row-gap: 80px

.top-section-7
    flex-direction: column
    display: flex
    align-items: center

.top-section-7 h3
    font-family: "Pacifico", cursive

.top-section-7 span
    color: #ffb03b

.buttom-section-7
    width: 100%
    flex-direction: column
    display: flex
    row-gap: 10px

.top-buttom-section-7
    display: flex
    column-gap: 10px

    padding-inline: 10px

.top-buttom-section-7 div
    width: 100%
    height: 223px
    background-color: #ffb03b
    overflow: hidden

.top-buttom-section-7 div  img
    width: 100%
    height: 223px
    transition: 0.4s ease

.top-buttom-section-7 div:hover  img
    transform: scale(1.1)

.buttom-buttom-section-7
    display: flex
    column-gap: 10px
    padding-inline: 10px

.buttom-buttom-section-7 div
    width: 100%
    height: 223px
    background-color: #ffb03b
    overflow: hidden

.buttom-buttom-section-7 div  img
    width: 100%
    height: 223px
    transition: 0.4s ease

.buttom-buttom-section-7 div:hover  img
    transform: scale(1.1)

// section-8

.section-8
    flex-direction: column
    display: flex
    justify-content: center
    align-content: center
    height: 125vh
    row-gap: 30px

.top-section-8
    flex-direction: column
    display: flex
    align-items: center

.top-section-8 h3
    font-family: "Pacifico", cursive

.top-section-8 span
    color: #ffb03b

.paragrapgh
    padding: 10px
    padding-inline: 20px
    border-radius: 20px
    background-color: #fffaf3
    color: #ffb03b

.top-buttom-section-8
    display: flex
    justify-content: center
    column-gap: 20px
    width: 100%

.top-buttom-section-8 div
    width: 356px
    height: 356px
    background-color: #dd1212

.top-buttom-section-8 div img
    width: 356px
    height: 356px

.buttom-buttom-section-8
    display: flex
    justify-content: center
    column-gap: 20px
    width: 100%

.buttom-buttom-section-8 .inside-buttom-buttom-section-8-first , .inside-buttom-buttom-section-8-second ,.inside-buttom-buttom-section-8-last
    width: 316px
    height: 98.69px
    background-color: #ffffff
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1)

.infu-section-8
    display: flex
    justify-content: space-between

.inside-buttom-buttom-section-8-first , .inside-buttom-buttom-section-8-second ,.inside-buttom-buttom-section-8-last
    flex-direction: column
    display: flex
    row-gap: 5px
    padding-inline: 15px
    justify-content: center

.line
    width: 50px
    height: 1px
    background-color: #000000

.infu-section-8 div a
    text-decoration: none
    color: #c6c6c6

.infu-section-8 div a:hover
    color: #ffb03b

// position-section-8

.buttom-buttom-section-8
    position: relative

.inside-buttom-buttom-section-8-first
    position: absolute
    bottom: -40px
    left: 135px

.inside-buttom-buttom-section-8-second
    position: absolute
    bottom: -40px
    left: 515px

.inside-buttom-buttom-section-8-last
    position: absolute
    bottom: -40px
    left: 890px

// slide-section

.carousel-item .inside-slide-section
    position: absolute
    top: 140px

.inside-slide-section
    flex-direction: column
    display: flex
    align-items: center
    row-gap: 10px
    padding-inline: 200px

.stars
    display: flex
    color: #ffb03b

.top-slide-section h5
    font-family: "Pacifico", cursive
    color: #ffff

.top-slide-section p

    font-family: "Pacifico", cursive
    color: #978f89

.text-icon p
    font-family: "Science Gothic", sans-serif
    font-weight: 900
    color: #ffff

.text-icon p span
    color: #756f69
    height: 50px

.top-slide-section img
    width: 100px
    border-radius: 50%
    border: 6px solid #c4baba79

// crousel-section

.carousel-section
    position: absolute
    top: 100px
    display: flex
    align-items: center
    column-gap: 20px
    padding-inline: 150px

.icon-buttom-carousel-section div
    display: flex
    column-gap: 5px

.line-1
    width: 60px
    height: 2px
    background-color: #ffb03b

.buttom-carousel-section div h3
    font-family: "Pacifico", cursive
    color: #ffff

.buttom-carousel-section div h4 , .buttom-carousel-section div p
    color: #ffff

.buttom-carousel-section div i
    color: #ffb03b
    font-weight: 900

.d-block
    filter: brightness(60%)

// section5

.all-section-5
    flex-direction: column
    display: flex
    justify-content: center
    align-content: center
    height: 60vh
    row-gap: 60px

.top-section-5
    flex-direction: column
    display: flex
    align-items: center

.top-section-5 h3
    font-family: "Pacifico", cursive

.top-section-5 span
    color: #ffb03b

.paragrapgh
    padding: 10px
    padding-inline: 20px
    border-radius: 20px
    background-color: #fffaf3
    color: #ffb03b

.section-5
    display: flex
    column-gap: 30px
    padding-inline: 60px

#check-right-1 , #check-right-2 , #check-right-3 , #check-right-4 , #check-right-5
    display: none

.left-section-5
    flex-direction: column
    display: flex
    row-gap: 20px
    width: 50%

.left-section-5 label
    width: 100%

.left-section-5 label:hover
    color: #ffb03b

.right-section-5
    width: 80%

.middle-section-5
    width: 2px
    height: 200px
    background-color: #797575

.right-section-5 .inside-right-section
    display: flex
    column-gap: 10px
    row-gap: 30px

.ya-img img
    width: 100%
    height: auto

.right-section-5 .inside-right-section div h3
    font-family: "Pacifico", cursive

.right-section-5 .inside-right-section div p
    color: #797575

#right-section-2 , #right-section-3 , #right-section-4 , #right-section-5 , #right-section-1
    display: none

#check-right-1:checked~ #right-section-1
    display: block
    display: flex
    column-gap: 10px
    row-gap: 30px

#check-right-2:checked~ #right-section-2
    display: block
    display: flex
    column-gap: 10px
    row-gap: 30px

#check-right-3:checked~ #right-section-3
    display: block
    display: flex
    column-gap: 10px
    row-gap: 30px

#check-right-4:checked~ #right-section-4
    display: block
    display: flex
    column-gap: 10px
    row-gap: 30px

#check-right-5:checked~ #right-section-5
    display: block
    display: flex
    column-gap: 10px
    row-gap: 30px

// button-back-to-top

.button-back-to-top a
    text-decoration: none
    color: #ffff

.button-back-to-top
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    color: #ffff
    background-color: #ffb03b
    border-radius: 5px
    position: fixed
    bottom: 20px
    right: 20px
